body{
    margin:0;
    padding:0;
    background-color: #dcc5fbcd;
}
@media(min-width: 990px){
    
nav ul li{
    cursor: pointer;
}
.header-container{
    height:80px;
    background-color:#8a63bee0;
    color:white;
    padding:15px 0px 0px 0px;
    
}
.header-container h1{
    margin:0;
    padding:0;
    font-size:36px;
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.header-container p{
    margin-top:10px;
    padding: 0;
    font-size:18px;
    text-align:center;
    font-style: italic;
}
ul li a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 19px;
    
}
ul li{
    list-style:none;
    display:inline;
    padding: 100px; 
}
nav{
    background-color: #c39ef3;
    display: flex;
    justify-content: space-evenly;
}
.post-img{
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding:0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.post-content{
    padding: 0 10px;
}

.post-card{
    width: 560px;
    margin: 30px;
    border-radius: 20px;
    padding: 0;
    
}
.post-card:hover{
   cursor: pointer;
    transform:  scale(1.02);
    translate: -2px -2px;
}
.read-more-btn{
    background-color: #8a63bee0;
    color: white;
    border: none;
    padding: 12px;;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 8px;
}
.contacts-container{
    width: 560px;
    border: 1px solid lightgrey;
    margin: 36px auto;
    border-radius: 20px;
    padding: 16px;
    background-color: #f0e6ff;
    display: flex;
    gap: 22px;

}
.contacts-container:hover{
    box-shadow: 10px 10px 20px rgba(134, 39, 211, 0.1);
    cursor: pointer;
    transform:  scale(1.02);
    translate: -2px -2px;
}
.contact-img{
    width: 200px;
    object-fit: cover;
    border-radius: 20px;

}
.icons{
    display: flex;
    padding: 5px;
    gap: 40px;
    margin-top: 30px;
}
.bi{
    font-size: 30px;;
    color: #814cc7e0;
    
}
.contacts-container div h2{
    font-size: 36px;
}
.copyright-icons{
    gap: 26px;
}
.copyrights-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    background-color:#c39ef3;
    padding: 5px 15px;
}

.card-post1{
    background-color: #f0e6ff;
    width: 990px;
    border-radius: 20px;
    margin: 30px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 140px;
}
.post1-img{
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.post1-heading{
    font-size: 40px;
    text-align: center;
    color: #250b48e0;
}
.post1-desc{
    font-size: 22px;
    text-align: center;
    color: #0f051ce0;
}
h4{
    font-size: 24px;
    color: #250b48e0;
    text-align: center;
}
.btn1{
    text-decoration: none;
    color: white;
}

.aboutme-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    padding: 20px;
    margin: 20px auto;
    display: inline-flex;
}
.aboutme-div1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 23px auto;
    font-size: 20px;
}
.aboutme-div2{
    font-size: 20px;
    padding: 40px;
    margin: 5px auto;
}
}

@media (max-width:989px){
    .header-container{
        height: 80px;
        background-color: #8a63bee0;
        padding: 15px 0px 0px 0px;
        text-align: center;
        font-style: italic;
        color: white;
    }
    .header-container h1{
        margin: 0;
        padding: 0;
        
    }
    .header-container p{
        margin-top: 10px;
    }
ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    
}
ul li{
    list-style:none;
    display:inline;
    padding: 10px; 
}
nav{
    background-color: #c39ef3;
    display: flex;
    justify-content: space-evenly;
}
   .post-card{
        width: 400px;
        margin: 20px auto;
        border-radius: 10px;
        padding: 10px;
    }
    .post-img{
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
     }
     .post-card:hover{
        cursor: pointer;
        transform: scale(1.02);
        translate: -2px -2px;
     }
     .read-more-btn{
        background-color: #8a63bee0;
        border: none;
        color: white;
        padding: 10px;
        border-radius: 50px;
        cursor: pointer;
        font-size: 16px;
        margin-bottom: 8px;
     }
     .btn1{
        text-decoration: none;
        color: white;
        
     }
     .copyrights-container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #c39ef3;
     }
     .bi{
        font-size: 26px;
        color: #814cc7e0;
     }
 
.contacts-container{
    width: 480px;
    border: 1px solid lightgrey;
    margin: 36px auto;
    border-radius: 40px;
    padding: 12px;
    background-color: #f0e6ff;
    display: flex;
    gap: 25px;

}
.contacts-container:hover{
    box-shadow: 10px 10px 20px rgba(134, 39, 211, 0.1);
    cursor: pointer;
    transform:  scale(1.02);
    translate: -2px -2px;
}
.contact-img{
    width: 200px;
    object-fit: cover;
    border-radius: 40px;

}
.icons{
    display: flex;
    padding: 5px;
    gap: 40px;
    margin-top: 20px;
}
.aboutme-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding: 10px;
}
.aboutme-div1{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px auto;
    font-size: 17px;
}
.aboutme-div2{
    font-size: 17px;
    padding: 5px 20px;
    margin: 5px auto;
}
.card-post1{
    background-color: #f0e6ff;
    width: 540px;
    border-radius: 24px;
    margin: 30px auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
}
.post1-img{
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.post1-heading{
    font-size: 30px;
    text-align: center;
    color: #250b48e0;
}
.post1-desc{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    color: #0f051ce0;
}
h4{
    font-size: 20px;
    color: #250b48e0;
    text-align: center;
}
    }

@media (max-width : 500px){
    .header-container{
        height: 65px;
        background-color: #8a63bee0;
        text-align: center;
        font-style: italic;
        color: white;
    }
    .header-container h1{
        font-size: 24px;
        margin: 0;
        padding: 0;
        
    }
    .header-container p{
        margin: 0;
        font-size: 14px;
    }
    ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    
}
ul li{
    list-style:none;
    display:inline;
}
nav{
    background-color: #c39ef3;
    display: flex;
    justify-content: center;
}
     .post-card{
        width: 260px;
        margin: 20px auto;
        border-radius: 10px;
    }
    .post-img{
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
     }
     .post-card:hover{
        cursor: pointer;
        transform: scale(1.02);
        translate: -2px -2px;
     }
     .read-more-btn{
        background-color: #8a63bee0;
        border: none;
        color: white;
        border-radius: 50px;
        cursor: pointer;
        font-size: 12px;
        margin: 10px;
       
     }
     .btn1{
        text-decoration: none;
        color: white;
        
     }
     .post-title{
        font-size: 16px;
        padding: 0;
        margin: 0;
     }
     .post-desc{
        display: none;
     }
    .copyrights-container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #c39ef3;
        font-size: 14px;
     }
     .bi{
        font-size: 16px;
        color: #814cc7e0;
     }
     .contacts-container{
    width: 240px;
    border: 1px solid lightgrey;
    border-radius: 20px;
    background-color: #f0e6ff;
    display:grid;
    justify-items: center;
    text-align: center;
    
}
.contacts-container:hover{
    box-shadow: 10px 10px 20px rgba(134, 39, 211, 0.1);
    cursor: pointer;
    transform:  scale(1.02);
    translate: -2px -2px;
}
.contact-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

}
.icons{
    display: flex;
    justify-content: center;
}
.aboutme-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.aboutme-div1{
    margin: 0;
    display: grid;
    justify-items: center;
    font-size: 16px;
    text-align: center;
}
.aboutme-div2{
     font-size: 16px;
    text-align: center;
}
.card-post1{
    background-color: #f0e6ff;
    width: 240px;
    border-radius: 24px;
    display: grid;
    justify-items: center;
    font-size: 13px;
    text-align: center;
}
.post1-img{
    width: 120px;
    object-fit: cover;
    border-radius: 20px;
}
.post1-heading{
    font-size: 18px;
    text-align: center;
    color: #250b48e0;
}
.post1-desc{
    padding: 10px;
    font-size: 13px;
    text-align: center;
    color: #0f051ce0;
}
h4{
    font-size: 16px;
    color: #250b48e0;
    text-align: center;
}
}